<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Project_PingMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Project_PingMonitor.Properties.Settings>
            <setting name="primaryTargetEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="primaryTarget" serializeAs="String">
                <value />
            </setting>
            <setting name="thresholdLow" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="thresholdHigh" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="secondaryTargetEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="secondaryTarget" serializeAs="String">
                <value />
            </setting>
            <setting name="ReachabilityCheckBestOfTwo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="pingInterval" serializeAs="String">
                <value>1</value>
            </setting>
        </Project_PingMonitor.Properties.Settings>
    </userSettings>
</configuration>